
@{
    ViewBag.Title = "NoStartedContest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.ContestNotStartedCaption</h2>
<div class="alert alert-warning" role="alert">
    @Resources.ContestNotStartedNotification
</div>


