<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConnection" connectionString="Data Source=.;Initial Catalog=Judge;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WorkingDirectory" value="D:\Judge"/>
    <add key="StoragePath" value="D:\Problems"/>
    <add key="RunnnerPath" value="D:\Problems\run-x64\run.exe"/>
  </appSettings>
</configuration>