.markdown {
    table {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 6px 13px;
        border: 1px solid;
        vertical-align: top;
        font-family: monospace, monospace;
    }

    p {
        line-height: 1.5;
    }
}