@model Judge.Application.ViewModels.Problems.Solution.SolutionViewModel
@{
    ViewBag.Title = "Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink(Model.ProblemName, "Statement", "Problems", new { id = Model.ProblemId }, null)</h2>
<pre>
<code>
@Model.SourceCode
</code>
</pre>

@section css{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
}

@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}