@model string
@using Markdig

@{
    ViewBag.Title = Resources.Manual;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<div class="well well-sm" id="statement">
    @Html.Raw(Markdown.ToHtml(Model, pipeline))
</div>

@section css{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
}

@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}