@{
    ViewBag.Title = Resources.Queue;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<!-- Modal -->
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Result</h4>
            </div>
            <div class="modal-body">
                <pre></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div>
    </div>
</div>

<div id="submit-queue">
    @Html.Action("FullSubmitQueue", "Submits")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var submits = $('#submit-queue');

            submits.on('click', 'nav > ul > li > a', function (event) {
                event.preventDefault();
                submits.load('/Submits/FullSubmitQueue', { page: $(this).data('page') });
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#modal').on('show.bs.modal',
                function (event) {
                    var button = $(event.relatedTarget);
                    var submitResult = button.data('submit-result');
                    var modal = $(this);
                    modal.find('.modal-body pre').text(submitResult);
                });
        });
    </script>
}
