
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>
        @Html.ActionLink(Resources.Languages, "Languages")
    </li>
    <li>
        @Html.ActionLink(Resources.Queue, "Submits")
    </li>
    <li>
        @Html.ActionLink(Resources.Tasks, "Problems")
    </li>
</ul>